doctype html
html
  head
    title Ravenstudios Home Automation
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/bootstrap/bootstrap.js")
    script(src="/javascripts/js.js")
