body {

  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttons{
  border: solid 1px black;
  background-color: rgba(255, 0, 255, 0.7);
}

.button-box{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: auto;

  border: solid 1px black;
}

.controlButton{
  display: inline-block;
  border-radius: 50px;
  border: solid 1px black;
  margin-top: auto;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.label{
  padding-top: 50px;
}
